@import "taskTrackerPalette.css";

.task-edit-form {
  display: grid;
  grid-template-columns: 0.3fr 0.8fr 0.3fr 0.6fr 0.25fr 0.4fr 0.4fr;
  height: auto;
  width: 1000px;
  margin: 5px 0 5px 0;
}

.task-create-form {
  display: grid;
  grid-template-columns: 0.3fr 0.8fr 0.3fr 0.6fr 0.25fr 0.4fr 0.4fr;
  height: auto;
  width: 1000px;
  margin: 20px 0 20px 0;
}

.confirm-cancel-button {
  border: none;
  border-radius: 11px;
  background-color: transparent;
  max-width: 20px;
  max-height: 20px;
  padding: 0;
  margin: 0 5px 0 5px;
}

.confirm-cancel-button:hover {
  box-shadow: 2px 2px 4px #9e9e9e;
}

.confirm-cancel-icon {
  max-width: 20px;
  border-radius: 11px;
  padding: 0;
  cursor: pointer;
}
