@import "taskTrackerPalette.css";

.task-list {
  margin-top: 10px;
  width: 800px;
}

.task-header {
  display: flex;
  justify-content: left;
}

.task-header-sort {
  display: flex;
  justify-content: left;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.index-header-sort {
  width: 58px;
}
.task-name-header-sort {
  width: 270px;
}
.priority-header-sort {
  width: 90px;
}
.date-header-sort {
  width: 190px;
}
.completed-header-sort {
  width: 60px;
}

.task-column-header {
  padding: 3px;
  font-weight: bold;
}

.task-done-header {
  margin: 0;
}

.task-header:hover {
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
}

.task-entry-header {
  display: grid;
  grid-template-columns: 65px 280px 100px 200px 70px;
  height: auto;
  cursor: pointer;
}

.sort-arrow-icon {
  max-width: 10px;
  margin: 0 5px 0 5px;
}
