@import "taskTrackerPalette.css";

.task-tracker {
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: var(--color3);
  margin-top: 20px;
  width: 820px;
  background-color: var(--color3);
}

.task-tracker-content {
  margin: 0 10px 0 10px;
}

.task-save-change {
  margin: 10px 0 10px 10px;
}

.task-title {
  margin: 10px 0 10px 0;
  padding: 0 0 5px 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: x-large;
}
